$main: #FFA500;
$hover: rgba(255, 130, 14, 1);
$focus: rgba(224, 115, 14, 1);
$gray: #F6F8FA;
$lightgray: rgba(37, 52, 79, 0.15);
$light: rgba(37, 52, 79, 0.7);
$blue: #0092FF;
$red: rgba(237, 30, 38, 1);